:root {
    --zebra: hsl(0, 0%, 93%, 1);
}

table {
    border-collapse: collapse;
    margin-top: 200px;
    margin-left: 400px;
}

caption {
    caption-side: bottom;
    font-size: small;
}

thead {
    color: white;
}

tbody th, td {
    border: 1px solid lightgray;
    
}

td, th {
    padding: 7px 15px;
}

td {
    text-align: center;
}

thead>tr:first-child, thead>tr:nth-child(2)>th:first-child {
    background-color: black;
}

thead>tr:nth-child(2)>th:not(:first-child) {
    background-color: gray;
}

tbody tr:nth-child(even) {
    background-color: var(--zebra);
}
