/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define colors and fonts */
:root {
    /* Colors */
    --primary-color: #f08a4b;
    --secondary-color: #577590;
    --accent1-color: #f2a541;
    --accent2-color: #f3ca40;

    /* Fonts */
    --main-font: 'Lato', sans-serif;
    --heading-font: 'Raleway', sans-serif;
}

body {
    font-family: var(--main-font);
    background-color: #fff;
    color: #000;
    max-width: 1200px;
    margin: 0 auto;
}

/* Call banner */
.call-banner {
    background-color: var(--accent2-color);
    display: block;
    text-align: center;
    color: #000;
    text-decoration: none;
    padding: 0.9rem;
}

/* Header styles */
header {
    display: grid;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
}

header picture {
    grid-column: 1;
}

header picture img,
.footer-logo {
    width: 100px;
    border-radius: 20%;
    margin: 15px;
}

header h1 {
    margin: 0 auto;
    grid-column: 2;
    color: var(--primary);
    font-family: var(--heading-font);
    font-size: 40px;
    line-height: 35px;
}

header nav {
    grid-column: 1/4;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

li {
    list-style: none;
}

nav ul {
    padding-left: 0;
    margin: 0;
}

li a {
    display: block;
    text-decoration: none;
    color: var(--primary);
    font-size: 20px;
    padding: .5rem;

}

li a:hover {
    background-color: var(--primary);
    color: white;
}

header button span {
    font-size: 40px;
    color: var(--primary);
}

header button {
    grid-column: 3;
    border: none;
    background-color: transparent;
    width: 40px;
    margin-right: .5rem;
}

.hamburger :nth-child(1),
.nav-menu {
    display: none;
}

button.open :nth-child(1),
.nav-menu.open {
    display: block;
}

button.open :nth-child(2) {
    display: none;
}

.contact-info {
    color: #fff;
}

/* Closeable message styles */
.closeable-message {
    padding: 0.25rem;
    text-align: center;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Call to action styles */
.cta {
    background-color: var(--accent1-color);
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.cta h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cta p {
    font-size: 16px;
    margin-bottom: 10px;
}

.button {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.cta a:hover {
    background-color: var(--accent2-color);
    color: #000;
}

#hero-img {
    width: 100%;
}

/* Rental summary styles */
.rental-summary {
    background-color: var(--accent2-color);
    color: #000;
    padding: 20px;
    margin-bottom: 20px;
}

.rental-summary h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.rental-summary ul {
    list-style-type: disc;
    margin-left: 20px;
}

.rental-summary ul li {
    margin-bottom: 5px;
}

.rental-summary img {
    width: 100%;
    max-width: 240px;
    padding-top: 0.2rem;
    height: 185px;
}

/* Social media styles */
.social-media {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.social-media h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.social-media ul {
    list-style-type: none;
}

.social-media ul li {
    margin-bottom: 10px;
}

.social-media ul li a {
    color: #fff;
    text-decoration: none;
}

/* Weather styles */
.weather {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.weather h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.weather p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Rentals page */
.rentals-page {
    padding: 0;
    margin: 0.5rem;
}

.rental-pricing-table {
    width: 100%;
    border-collapse: collapse;
}

.rental-pricing-table caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.rental-pricing-table th,
.rental-pricing-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.rental-pricing-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.rental-pricing-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Reservations page */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.rental-agreement {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.rental-agreement h2 {
    margin-bottom: 10px;
}

.rental-agreement ul {
    list-style-type: none;
    padding: 0;
}

.rental-agreement li {
    margin-bottom: 10px;
}

/* Form Styles */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form {
    background-color: #eee;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    display: block;
    width: 100%;
    max-width: 19rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

textarea {
    min-height: 100px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 210px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

input:required {
    border-left: red solid 6px;
}

input:required:valid {
    border-left: green solid 6px;
}

/* Contact page */
.contact-section {
    margin-bottom: 10px;
}

.map iframe {
    width: 100%;
    height: 300px;
    border: none;
}

.contact-form form {
    max-width: 600px;
}

.contact-form .form-group {
    text-align: -webkit-center;
}

.contact-form label {
    display: inline-block;
    text-align: left;
    width: 54%;
}

/* Footer styles */
footer {
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    display: block;
}

footer a:hover,
.basic-link:hover {
    color: #1a1a1a;
}

.separator {
    display: none;
}

/* footer - base */

.footer-info,
.footer-base {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    row-gap: 1rem;
}

.footer-base {
    row-gap: 0;
    background-color: var(--accent1-color);
}

.nav-social {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.nav-social a img {
    width: 35px;
    border-radius: 7px;
}

.nav-social a img:hover {
    transition: 1s;
    transform: scale(1.2);
}