/* colors
#2F0F5D
#0EA293
#F5F3C1 */

body {
    font-family: 'Comfortaa', cursive;
    color: white;
}

header, footer {
    background-color: #2F0F5D;
    text-align: center;
    padding: 25px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

div {
    border-style: groove;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #F5F3C1;
    margin: 10px 0px;
    padding: 15px;
    
}

h3 {
    background-color: #0EA293;
    align-self: start;
}

img {
    height: auto;
    width: 98%;
    /* margin-left: 4px; */
    margin-top: 30px;
    padding: 10px;
}

a {
    padding: 10px;
}
div p {
    color: black;
    margin: 20px 10px;
    align-self: start;
}

