@media screen and (min-width: 480px) {

    nav {
        display: flex;
        flex-direction: row;
    }
    
    nav a {
        display: block;
        padding: 20px 30px;
        margin: 10px;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    #logo {
        grid-column: 1 / 3;
    }

    #scenario {
        grid-column: 1 / 3;
    }


}