:root {
    /* Color Palette */
    --primary-color: #3C486B;
    --secondary-color: #F0F0F0;
    --accent1-color: #F9D949;
    --accent2-color: #F45050;
    
  
    /* Fonts */
    --heading-font: Raleway, Verdana, sans-serif;
    --paragraph-font: Lato, Helvetica, sans-serif;
  
    --paragraph-color-on-white: black; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #3C486B;

    --nav-link-color: #F0F0F0;
    --nav-hover-link-color: #3C486B;
    --nav-hover-background-color: #F9D949;

    
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #3C486B;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 2em;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

h4 {
    padding: 1em;
}

p {
    font-family: var(--paragraph-font);
    padding: 1em;
  }

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
  }

.colors th {
    background-color: #999;
  }

.colors td{
    width: 25%;
    height: 3em;
  }
  
.primary {
    background-color: var(--primary-color);
  }

.secondary {
    background-color: var(--secondary-color);
  }

.accent1 {
    background-color: var(--accent1-color);
  }

.accent2 {
    background-color: var(--accent2-color);
  }

p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

nav a {
    font-size: 2em;
    padding: 10px;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}  

section {
    background-color: #F0F0F0;
    margin: 30px;
}

section h2, h3 {
    text-align: center;
}

section li {
    margin: 10px;
}

img {
    display: block;
    width: 296px;
    height: auto;
    margin: auto;
}

#style-guide {
    text-align: center;
}

footer {
    background-color: #3C486B;
    color: #F0F0F0;
    text-align: center;
}
