@media only screen and (min-width: 480px) {

    .item1 {
        grid-area: item1;
    }
    
    .item2 {
        grid-area: item2;
    }
    
    .item3 {
        grid-area: item3;
    }
    
    .item4 {
        grid-area: item4;
    }
    
    .item5 {
        grid-area: item5;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #spotlight-3 {
        display: none;
    }

    .item6 {
        grid-area: item6;
        border-style: solid;
        margin: 10px;
        padding: 5px;
    }

    .item6 h2{
        display: block;
    }
    
    .grid-container {
        display: grid;
        /* grid-template-columns: repeat(1fr, 3);
        grid-template-rows: repeat(1fr, 5); */
        grid-template-areas: 
        'item1 item1 item1'
        'item4 item4 item4'
        ' item5 item5 item5'
        'item6 item6 item6'
        'item2 item2 item3';
        
    }

    .foot-logo {
        grid-area: logo;
    }

    .contact-info {
        grid-area: contact;
    }

    .student-info{
        grid-area: student;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        font-size: 10px;
    }


    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 30%;
        grid-template-areas: 
        'logo contact'
        'student student';
    }

    .footer-break {
        display: contents;
    }

    #dateModif {
        grid-column: 1 / 3;
    }
}