@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

body {
    max-width: 1000px;
    font-family: "Concert One", Times New Roman, cursive;
    margin: 0 auto;
}

header,
footer,
h3 {
    background-color: #ECF9FF;
    /* margin: 3.5rem; */


}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 0;

}

footer {
    font-size: 25px;
}

nav {
    /* display: grid; */
    background-color: lightskyblue;
    margin: 0 auto;

}

#menu {
    font-size: 1.25rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 1em;
    right: 1em;
}

#menu::before {
    content: "☰"
}

#menu.open::before {
    content: "❌"
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;

}

nav li {
    display: none;
}

nav a {
    display: block;
    line-height: 3rem;
    font-size: 1.5rem;
}

nav a:hover {
    border: 1px solid #fff;
}

/* When menu button is clicked on small view */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

/* Psuedo-element factor */
/* p.weather::before {
    content: "🌧 "    
} */

img {
    height: auto;
    width: 180px;
    align-items: first baseline;
    margin: 10px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    /* background: radial-gradient(#fff, #4D5B97); */
    border: 1px solid;
    padding: 1rem;
}

h1 {
    margin: auto;
    text-align: center;
    font-family: "Concert One", Times New Roman, cursive;
    font-size: 4em;
}

/* h2, h3 {
    text-align: center;
} */

h3 {
    padding: 20px;
    margin-top: 0;
    text-align: center;
}

main {
    margin: 1.5rem 1.5rem;
}

main ol li {
    margin: .5em;

}

.card {
    border-style: solid;
    margin: 0.5rem auto;
}

.card p {
    text-align: center;
}

#weather-icon {
    margin-left: 70px;
}

.map {
    width: 400px;
    height: 300px;
    border: 0;
}

#base-footer {
    text-align: center;
}

#base-footer div p {
    margin: 5px;
}

.seperator {
    display: none;
}

#lastModified {
    color: lightcoral;
    line-height: 1em;
    font-size: 1.25rem;
    margin: 0;
}