@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

body {
    max-width: 1000px;
    font-family: "Concert One", Times New Roman, cursive;
    margin: 0 auto;
}

header, footer, h3 {
    background-color: #ECF9FF;
    /* margin: 3.5rem; */
    

}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 0;
    
}

footer {
    font-size: 25px;
}

nav {
    /* display: grid; */
    background-color: lightskyblue;
    margin: 0 auto;

}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

nav a {
    display: block;
    line-height: 3rem;
    font-size: 1.5rem;
}

nav a:hover {
    border: 1px solid #fff;
}

img {
    height: auto;
    width: 180px;
    align-items: first baseline;
    margin: 10px;
}

h1 {
    margin: auto;
    text-align: center;
    font-family: "Concert One", Times New Roman, cursive;
    font-size: 4em;
}

/* h2, h3 {
    text-align: center;
} */

h3 {
    padding: 20px;
    margin-top: 0;
    text-align: center;
}

main {
    margin: 1.5rem 1.5rem;
}

main ol li {
    margin: .5em;
    
}

.card {
    border-style: solid;
    margin: 0.5rem auto;
}

.card p {
    text-align: center;
}

#base-footer {
    text-align: center;
}

#base-footer div p {
    margin: 5px;
}
.seperator {
    display: none;
}

#lastModified {
    color: lightcoral;
    line-height: 1em;
    font-size: 1.25rem;
    margin: 0;
}
