@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

body {
    max-width: 1000px;
    font-family: "Concert One", Times New Roman, cursive;
    margin: 0 auto;
}

header, footer{
    background-color: #ECF9FF;
    margin: 1.25rem auto;
    

}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 3.5rem;
}

footer {
    text-align: center;
    margin: 3.5rem;
    
}

img {
    height: auto;
    width: 180px;
    align-items: first baseline;
    margin: 10px;
}

h1 {
    margin: auto;
    text-align: center;
    font-family: "Concert One", Times New Roman, cursive;
    font-size: 5em;
}

h2, h3 {
    text-align: center;
}

main {
    margin: 10px;
}

main ul li {
    margin: .5em;
    margin-left: 320px;
}